{% extends 'base.html.twig' %}

{% block header "Access-Control-Allow-Origin: *" %}
{% block title %}Méteo - Home{% endblock %}

{% block body %}
    <main id="grille"> 

        <header id="titre">
            <h1><a href="/">La météo</a></h1>
        </header>

        <section id="userInfos"> 
            <p id="city">Chargement ...</p>
            <p id="temperature"></p>
        </section>

        <section id="weather">
            <i id="icon" class="wi"></i>
            <p id="description"></p>
        </section>

        <footer id="cityToChoose" >
            <form action="/meteo" metho="GET">
                <h1>Voulez-vous la météo d'une autre ville ?</h1>
                <div class="form-group">
                    <input type="text" class="form-control" name="city" placeholder="Choose a city :) ...">
                    <button><input type="submit" value="Validate"></button>
                </div>
            </form>
        </footer>

     </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/home.js') }}"></script>
    <script src="{{ asset('build/runtime.js') }}"></script>
     <script src="{{ asset('build/vendors~js/home.js') }}"></script>
{% endblock %}
