* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS';
}

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: #f1f1f1;
}

#grille {
    position: relative;
    padding: 5px;
    display: grid;
    grid-template: repeat(4, 200px) / 500px;
    background: linear-gradient(rgb(6, 6, 122), rgb(111,27,134));
}

#loader, #titre{
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 1px solid #f1f1f1;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInfos{
    grid-area: 2 / 1 / 3 / 2;
    border-bottom: 1px solid #f1f1f1;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#weather{
    grid-area: 3 / 1 / 4 / 2;
    border-bottom: 1px solid #f1f1f1;
    color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-self: center;
    font-size: 5em;
}

#cityToChoose{
    grid-area: 4 / 1 / 5 / 2;

    color: #f1f1f1;
    font-size: 30px;
    font-weight: 100;
}

